<h3>Bonjour {{ user.getName() }}</h3>


<p>Vous recevez ce mail pour vous confirmer que votre mot de passe a bien été modifié.</p>

<p>Merci et à très bientôt !<br>
    <a href="https://www.concoursculture.com" target="_blank">ConcoursCulture.fr</a></p>
