<h2>Bonjour,</h2>

<p>Vous avez reçu un mail depuis la page contact de ConcoursCulture :</p>

<p>Nom : {{ contact.name }}</p>
<p>Email : {{ contact.mail }}</p>
<p>sujet : {{ contact.sujet }}</p>
<p>Message : {{ contact.message }}</p>
