<h2>Bonjour {{ user.name }},</h2>

<p>Vous avez demander un nouveau mot de passe, le voici : </p>
<p><strong>{{ password }}</strong></p>

<p>L'équipe ConcoursCulture vous remecie pour votre confiance,</p>

<p>Cordialement, <br>
    <a href="https://www.concoursculture.com" target="_blank">ConcoursCulture.com</a></p>
