<h2>Bonjour {{ user.name }},</h2>

<p>Vous avez demandé un nouveau mot de passe, le voici : </p>
<p><strong>{{ password }}</strong></p>

<p>L'équipe ConcoursCulture vous remercie pour votre confiance.</p>

<p>Merci et à très bientôt !<br>
    <a style="color:#e2b13c" href="https://www.concoursculture.com" target="_blank">ConcoursCulture.com</a></p>
