<h2>Bienvenu {{ user.name }}</h2>

<p>Un administrateur de <a href="https://www.concoursculture.com">ConcoursCulture</a> vous a créé un compte admin, vous pouvez à présent vous y connecter
avec votre adresse mail et le mot de passe : <em>{{ password }}</em> .</p>

<p>Merci et à très bientôt !<br>
    <a href="https://www.concoursculture.com" target="_blank">ConcoursCulture.fr</a></p>
