<h2>Bonjour {{ user.name }}</h2>

<p>Merci pour votre inscription sur ConcoursCulture !</p>
<p>Vous trouverez ci-dessous votre mot de passe provisoire que vous pouvez modifier par la suite dans votre espace personnel :</p>

<p>{{ password }}</p>

<p>L'équipe ConcoursCulture vous remercie pour votre confiance.</p>

<p>Merci et à très bientôt !<br>
    <a style="color:#e2b13c" href="https://www.concoursculture.com" target="_blank">ConcoursCulture.com</a></p>
