{% extends 'base.html.twig' %}

{% block title %}Quiz terminé !{% endblock %}

{% block body %}
    <!-- Onview Section -->
    <div class="container-fluid no-padding welcome-section2">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 content-block" style="margin:auto;float:none">

                    <h3>Félicitations !</h3>

                    <p>Vous venez de terminer le concours {{ quiz.theme }} sur le sujet <strong>{{ quiz.title }}</strong> !</p>
                    <p>Vous pouvez maintenant voir votre performance dans votre espace personnel.</p>

                </div>
            </div>

        </div><!-- Container /- -->
    </div><!-- Onview Section /- -->
    <div class="padding-50" style="margin-bottom:50px"></div>

{% endblock %}
